@import "_colors.scss";

/* General......................................................... */

body {
  background-color: $backgroundcolor;
  margin: 0 !important ;
  color: $textcolor;
  font-family: "DM Sans", sans-serif;
}

p {
  color: $textcolor;
  font-family: "DM Sans", sans-serif;
}

.highlited {
  color: $highlightcolor;
}

.bigParagraph {
  font-family: "Raleway", sans-serif;
}

.sectionDiv {
  padding: 2rem;
  padding-top: 4.3rem;
}

.roundedDiv {
  background-color: $divcolor;
  border-radius: 10px;
  padding: 1rem;
  color: $divTextColor;
  text-align: justify;
}

.sectionSign {
  color: $highlightcolor;
}

/* Navbar......................................................... */
.navbar {
  margin: 0;
  width: 100%;
  min-height: fit-content;
  background-color: $highlightcolor;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-family: sans-serif;
  font-size: 1.1rem;
  padding: 0.5rem;
  box-shadow: 2px 2px black;
  height: 3rem;
  z-index: 5;
}

.navLink {
  display: inline;
  padding-right: 1.5rem;
  text-decoration: none;
  color: $textcolor;
}



/* Sections......................................................... */

/*.............Presentation section.................................. */
#presentation {
  margin: 0;
}

.presentationDiv {
  color: $titlecolor;
  padding-top: 5rem;
  padding-bottom: 2rem;
  text-align: center;
  background-color: $blendcolor;
  background-image: url(../images/pexels-abhishek-verma-670261.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  box-shadow: 2px 2px 5px black;
}

.hiThere {
  font-size: 1.5rem;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
}

.alfon {
  margin-top: 0%;
  font-size: 4.5rem;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.presentationSubtitle {
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
  color: $titlecolor;
}

#aboutMe {
  padding-top: 2rem;
}

.sectionHeader span {
  padding-bottom: 10px;
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  position: relative;
  padding-left: 80px;
  letter-spacing: 1px;
}

.sectionHeader span::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 4px;
  width: 50px;
  height: 1px;
  background: $textcolor;
}

.sectionHeader h3 {
  margin-top: 0;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1.6rem;
}

.resumeButton {
  background-color: $highlightcolor;
  border-radius: 10px;
  min-width: fit-content;
  max-width: 5rem;
  min-height: 1.8rem;
  display: flex;
  align-items: center;
  margin: auto;
}

.resumeButton:hover {
  background-color: white;
}

.resumeButtonText {
  text-decoration: none;
  color: $textcolor;

  padding: 1rem;
}

/*.............Portfolio section..................................... */

.cardsDiv {
  display: flex;
  flex-direction: column;
}

.card {
  background-color: $divcolor;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem;
  color: $divTextColor;
  text-align: center;
}

.cardHeader {
  text-align: center;
}

.cardText {
  text-align: center;
  padding-bottom: 1rem;
  color: $textcolor;
}

.viewButton {
  background-color: $highlightcolor;
  border-radius: 10px;
  max-width: fit-content;
  min-height: 2rem;
  display: flex;
  align-items: center;
  margin: auto;
}

.viewButton:hover {
  background-color: white;
}

.viewButtonText {
  text-decoration: none;
  color: $textcolor;
  font-size: smaller;

  padding: 0.5rem 2rem;
}

.thumbnailPic {
  max-width: 333px;
  height: 170px;
  border: $backgroundcolor solid;
  border-radius: 5px;
  border-width: 5px;
}

/*.............Skills section..................................... */

.skillsGrid {
  display: grid;
  padding: 0;

  grid-template-columns: 1fr 1fr;
  justify-items: center;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.skillContainer {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  text-align: center;
}

.skillContainer p {
  color: $backgroundcolor;
}

.skillsGrid li {
  background-color: $divTextColor;
  padding: 10px;
  border-radius: 15px;
  width: 80px;
  box-shadow: 0px 4px 8px rgb(32, 32, 32);
  border: 1px solid black;
  display: list-item;
}

.skillsGrid li img {
  width: 35px;
  height: 35px;
  vertical-align: middle;
  padding-top: 1rem;
}

ul {
  list-style: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

/*.............Services section..................................... */

.orderButton {
  background-color: $highlightcolor;
  border-radius: 10px;
  max-width: fit-content;
  min-height: 2rem;
  display: flex;
  align-items: center;
  margin: auto;
}

.orderButton:hover {
  background-color: white;
}

.orderNow {
  text-decoration: none;
  color: $textcolor;

  padding: 1rem;
}

/*.............Personal info (about me) section..................... */

.footerDiv {
  width: 100%;
  background-color: $divcolor;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;
  padding: 0.5rem;
  box-shadow: black;
  height: 3rem;
  margin-bottom: 0%;
}

.linkLogo {
  margin-right: 3rem;
  max-width: 30px;
  max-height: 30px;
}

.contactContainer {
  text-align: left;
  flex-grow: 12;
  margin: 0 2rem;
}

.contactLink {
  text-decoration: none;
  color: $divTextColor;
}

.contactLink:hover {
  color: white;
}

.linksContainer {
  padding-right: 2rem;
  text-align: right;
  min-width: fit-content;
}

.lightButton {
  background-color: $highlightcolor;
  border-radius: 10px;
  max-width: fit-content;
  min-height: 2rem;
  display: flex;
  align-items: center;
  margin: auto;
  text-decoration: none;
  color: $textcolor;
  padding: 1rem;
  border: none;
  outline: none;
}

.lightButton:hover {
  background-color: white;
}

/* ---------------------------------Media queries------------------------------- */
/* 990px */
@media all and (min-width: 990px) {
  .navbar a:hover {
    color: white;
  }

  .cardsDiv {
    flex-direction: row;
    margin-bottom: 0;
  }

  .card {
    margin-right: 2rem;
  }

  .cardText {
    text-align: justify;
  }
  /*.............Portfolio section media queries..................................... */

  .thumbnailPic {
    max-width: 300px;
  }

  /*.............Skills section media queries..................................... */

  .skillsGrid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
  }
}
