@import "_colors.scss";

body {
  background-color: $thirdColor;
  margin: 0;
}

/* Navbar */

.navbar {
  width: 100%;
  background-color: $barColor;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.3rem;
  padding: 0.5rem;
  box-shadow: 2px 2px black;
  height: 3rem;
}

.logoContainer {
  text-align: left;
  flex-grow: 12;
  margin: 0 2rem;
}

.alfonLogo {
  font-family: "Bebas Neue", cursive;
  color: $primaryColor;
  font-size: 3rem;
  text-shadow: 2px 2px 5px black;
}

.navContainer {
  text-align: right;
  min-width: fit-content;
}

.navbar a {
  margin-right: 2rem;
  text-decoration: none;
  color: $primaryColor;
}

.navbar a:hover {
  color: white;
  text-shadow: 2px 2px 5px black;
}

/* Divs and images */

.darkDiv {
  padding: 12rem 5rem;
  text-align: left;
}

.alfonDiv {
  padding: 12rem 5rem;
  text-align: left;
}

.alfonPic {
  background-image: url(../images/alfonPlaya.jpeg);
  background-repeat: no-repeat;
  background-position: 70%;
  background-size: cover;
}

.lightDiv {
  padding: 15rem 5rem;
  text-align: right;
}

.apuntesImg {
  background-image: url(../images/notes.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.ejerciciosImg {
  background-image: url(../images/exercises.jpg);
  background-repeat: no-repeat;
  background-position: 70%;
  background-size: cover;
}

/* Sections */

.darkSection {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: $thirdColor;
  color: white;
}

.lightSection {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: $fourthColor;
  color: black;
}

/* contact section */

.contact {
  width: 100%;
  background-color: $barColor;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.3rem;
  padding: 0.5rem;
  box-shadow: black;
  height: 3rem;
  margin-bottom: 0%;
}

.contactContainer {
  text-align: left;
  flex-grow: 12;
  margin: 0 2rem;
}

.contactLink {
  text-decoration: none;
  color: $primaryColor;
}

.contactLink:hover {
  color: white;
  text-shadow: 2px 2px 5px black;
}

.linksContainer {
  padding-right: 2rem;
  text-align: right;
  min-width: fit-content;
}

.linkLogo {
  margin-right: 3rem;
  max-width: 30px;
  max-height: 30px;
}

/*   Headings and subtitles */

.alfonHeading {
  font-family: "Bebas Neue", cursive;
  color: $barColor;
  font-size: 6rem;
  line-height: 1.5;
  font-weight: 900;
  margin-bottom: 0;
  text-align: center;
}

.alfonSubtitle {
  font-family: "Roboto", sans-serif;
  color: $secondaryColor;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 900;
  padding-bottom: 2rem;
  margin-bottom: 0;
  text-align: center;
}

.bigLightHeading {
  font-family: "Bebas Neue", cursive;
  color: $textColor;
  font-size: 4rem;
  line-height: 1.5;
  font-weight: 900;
  margin-bottom: 0;
}

.bigDarkHeading {
  font-family: "Bebas Neue", cursive;
  color: $thirdColor;
  font-size: 4rem;
  line-height: 1.5;
  font-weight: 900;
  margin-bottom: 0;
}

.Subtitle {
  font-family: "Roboto", sans-serif;
  color: $barColor;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 900;
  padding-bottom: 2rem;
  margin-bottom: 0;
}

/* Buttons */

.darkButton {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 16px;
  -webkit-box-shadow: 0 1px 3px #666666;
  -moz-box-shadow: 0 1px 3px #666666;
  box-shadow: 0 1px 3px #666666;
  color: $textColor;
  font-size: 20px;
  background: $secondaryColor;
  padding: 16px 20px 16px 20px;
  text-decoration: none;
  font-weight: bold;
}

.darkButton:hover {
  background: $primaryColor;
  text-decoration: none;
  color: $thirdColor;
}

.lightButton {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 16px;
  -webkit-box-shadow: 0 1px 3px #666666;
  -moz-box-shadow: 0 1px 3px #666666;
  box-shadow: 0 1px 3px #666666;
  color: $thirdColor;
  font-size: 20px;
  background: $primaryColor;
  padding: 16px 20px 16px 20px;
  text-decoration: none;
  font-weight: bold;
}

.lightButton:hover {
  background: $secondaryColor;
  text-decoration: none;
  color: $textColor;
}

.ejerciciosHeader {
  text-align: center;
  padding: 2rem 0 4rem 0;
  max-width: 100%;
  height: 30rem;
  background-image: url(../images/exercises.jpg);
  background-size: cover;
  background-color: #666666;
  background-color: $fifthColor;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  box-shadow: 2px 2px 5px black;
}

.apuntesHeader {
  text-align: center;
  padding: 2rem 0 4rem 0;
  max-width: 100%;
  height: 30rem;
  background-image: url(../images/notes.jpg);
  background-size: cover;
  background-color: #666666;
  background-color: $fifthColor;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  box-shadow: 2px 2px 5px black;
}

.contactoHeader {
  text-align: center;
  padding: 2rem 0 4rem 0;
  max-width: 100%;
  height: 30rem;
  background-image: url(../images/contact.jpeg);
  background-size: cover;
  background-color: #666666;
  background-color: $fifthColor;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  box-shadow: 2px 2px 5px black;
}

.contactForm {
  font-family: "Roboto", sans-serif;
  color: $textColor;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  padding: 2rem;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.legendHeading {
  font-family: "Bebas Neue", cursive;
  color: $primaryColor;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 900;
  margin-bottom: 0;
}

.formFieldset {
  background-color: $fifthColor;
}

.sendArea {
  display: inline-block;
  text-align: center;
  max-width: 30%;
}

/* Common*/

.sectionSign {
  padding: 9rem 5rem;
  text-align: center;
}

.subSection {
  background-color: $secondaryColor;
  padding: 1rem;
  border: $thirdColor 1px solid;
}

.sectionItem {
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
  color: $textColor;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 900;
  margin-bottom: 0;
  text-shadow: 1px 1px 2px black;
}

.sectionLogo {
  height: 2rem;
  width: 2rem;
}



/* ---------------------------------Media queries------------------------------- */
/* 990px */
@media all and (max-width: 990px) {
  /* **********************Sections media queries********************** */
  .darkSection {
    display: inline;
    text-shadow: 2px 2px 5px black;
    text-align: center;
  }

  .lightSection {
    display: inline;
    text-shadow: 2px 2px 5px black;
    text-align: center;
    background-color: $fourthColor;
  }

  .alfonDiv {
    background-color: $fourthColor;
    color: white;
    background-image: url(../images/alfonPlaya.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    box-shadow: 2px 2px 5px black;
  }

  .lightDiv {
    background-color: $secondaryColor;
    color: black;
    background-image: url(../images/notes.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    text-align: center;
    box-shadow: 2px 2px 5px black;
  }

  .bigDarkHeading {
    color: $primaryColor;
  }

  .darkDiv {
    background-color: $fifthColor;
    color: white;
    background-image: url(../images/exercises.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    box-shadow: 2px 2px 5px black;
  }

  .darkDiv .Subtitle {
    color: $primaryColor;
  }

  /* **********************Headings media queries********************** */
  .bigLightHeading,
  .bigDarkHeading,
  .Subtitle,
  .darkDiv,
  .lightDiv {
    text-align: center;
  }

  /*  **************Navbar media queries*********************   */

  .logoContainer {
    align-self: center;
    text-align: center;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
    min-height: 5.1rem;
    padding: 0 0 0.5rem 0;
  }

  .navbar a {
    text-align: center;
  }

  .navContainer {
    padding-top: 0.1rem;
    margin-top: 0;
  }

  .alfonLogo {
    font-size: 2.3rem;
  }
}
